* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(16, 14, 14);
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.circle_outside {
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  box-shadow: -4px -4px 10px black, 4px 4px 10px rgb(0, 0, 0);
}

.circle {
  width: 300px;
  height: 300px;
  border: 3px solid rgba(154, 255, 3, 0.988);
  border-radius: 50%;
  box-shadow: -4px -4px 10px black, 4px 4px 10px rgb(0, 0, 0);
  justify-content: center;
  border-top: 0.5rem solid transparent;
  border-left: -1rem solid transparent;
  animation: 7s turn linear infinite;
}

.circle::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 2.9em;
  margin-left: 1.1rem;
  background-color: rgba(154, 255, 3, 1);
  box-shadow: -2px -2px 10px inset rgba(32, 36, 18, 0.988),
    2px 2px 10px rgba(32, 36, 18, 0.988);
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background-color: rgba(161, 209, 91, 0.17);
  }
  100% {
    transform: rotate(360deg);
  }
}

h2 {
  width: 100%;
  font-size: 1.6rem;
  position: absolute;
  color: rgba(154, 255, 3, 0.988);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bubble_box {
  position: absolute;
  bottom: 20rem;
  margin-left: -0.5rem;
  width: 10rem;
  height: 1rem;
  display: flex;
  column-gap: 0.7rem;
  justify-content: center;
  align-items: center;
}

.bubble {
  display: flex;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: rgba(154, 255, 3, 1);
  animation: 3s bubble_off linear infinite;
}

.bubble_box:nth-child(1) {
  animation: 2s bubble_off linear infinite;
}

@keyframes bubble_off {
  100% {
    background-color: rgba(154, 255, 3, 0.999);
  }
  50% {
    background-color: rgba(154, 255, 3, 0);
  }
  100% {
    background-color: rgba(154, 255, 3, 0.444);
    transition: 1s all ease-in-out;
  }
  70% {
    /* background-color: rgba(154, 255, 3, 0.666); */
    background-color: rgba(154, 255, 3, 0);
  }
}
